*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
* {margin:0;padding:0;border: 0 none;position: relative;}

body {
  background: url(background-photo.jpg) no-repeat 50% fixed;
  background-size: cover;
  width: 100%;
  color: #f5f5f5;
  font-family: Helvetica, YuGothic, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.02em;
  line-height: 1.6;
}
a {
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #fff;
}
article {
  clear: both;
  background: inherit;
  position: relative;
  width: 800px;
  max-width: 800px;
  min-width: 800px;
  margin: 6vh auto 15vh;
  border-radius: 0;
  box-shadow: 1px 1px 4px rgba(0,0,0,.3);
  z-index: 5;
  font-size: 1.4rem;
  text-shadow: 0 1px 0 #000;/**/
}
article:before {
  content: '';
  position: absolute;
  top: 0; left:0; right:0; bottom:0;
  background: inherit;
}
#tile {
  background-color: rgba(0,0,0,.7);
  border-radius: 4px;
  padding: 20px;
  font-size: 14px;
}
svg {
  height: 0;
  width: 0;
  position: absolute;
}
.albumsection {
  margin: 6vh auto 2vh;
  width: 800px;
  max-width: 800px;
  min-width: 800px;
  background-color: rgba(0,0,0,.7);
  border-radius: 4px;
}
.albumsection:before {
}
.albumsection:after {
  clear: both;
}
.albumsection ul:before {
  margin: 0 10px;
}
.albumsection ul li {
  float: left;
  width: 100px;
  height: 100px;
  margin: 10px;
  background-size: cover;
  list-style: none;
  border-radius: 2px;
}
.albumsection ul li a {
  display: inline-block;
  width: inherit;
  height: inherit;
}
.content {
  border-radius: 0 4px 4px 0;
  padding: 0px;
}
.content .page {
  padding: 40px 20px;
  border-radius: inherit;
}
.content .coverimage {
  background-color: rgb(158,220,235);
  background: url(cover.jpg) no-repeat 50% ;
  background-size: cover;
  border-radius: 0 4px 0 0;
  width: 100%;
  height: 200px;
}
.content .pagehead {
  padding: 0 20px;
}
.content .pagehead .pagehead-l {
}
.content .pagehead .jacket {
  margin: 0 auto 0 0;
  background-color: #000;
  width: 200px;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.3);
}
.content .pagehead .jacket img {
  width: 200px;
  height: 200px;
  box-shadow: 0 1px 3px #222;
  border-radius: 2px;
}
.content .pagehead .downloadbtn {
  background-color: rgb(85,152,160);
  background: -webkit-linear-gradient(top, rgb(128,187,194) 0%, rgb(85,152,160) 50%);
  width: 180px;
  margin: 10px;
  padding: 4px;
  color: #fff;
  text-align: center;
  text-shadow: 0 -1px 0 #333;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}
.content .pagehead .pagehead-r {
}
.content .pagehead .jacketdesc {
  margin: 0 20px;
  width: 460px;
}
.content .jacketdesc h1 {
  font-size: 32px;
}
.content .pagecontent {
  clear: both;
  padding: 20px 60px;
}
#player {
  text-align: center;
  margin: 15px;
}
#player button {
  margin: 20px 10px;
  width: 45px;
  height: 45px;
  color: #ccc;
  background: transparent;
  border: 1px solid #888;
  border-radius: 6px;
  cursor: pointer;
  outline : none;
}
#player button:hover {
  background-color: rgba(255,255,255,.2);
}
#player button#ctrl-play.pause i:before {
  content: "\f04c";
}
#musiclist {
  width: 100%;
  margin: 15px 0;
  border-spacing: 0;
  font-size: 16px;
}
#musiclist tr th {
  text-align: left;
  font-size: 80%;
  color: #888;
}
#musiclist tr td {
  border-bottom: 1px solid #444;
}
#musiclist tr td:first-child {
  color: #aaa;
}
#musiclist .active td:first-child:before {
  content: "\f04b";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  right: 40px;
  top: 7px;
  color: #fff;
}
#musiclist tr th,
#musiclist tr td {
  padding: 2px 5px;
}
#musiclist tr:hover td {
  text-decoration: underline;
  background-color: #222;
  cursor: pointer;
}
.right {
  text-align: right !important;
}
